<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.carrentsystem">

    <application
        android:name=".presentation.BaseActivity"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity android:name=".presentation.agency.OrderDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.client.RentCarOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.client.SearchResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.client.SearchCarsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.agency.ManageOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.agency.CarListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.agency.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.agency.AgencyDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.start.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.start.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.start.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>